<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EZYBuy</display-name>
  <welcome-file-list>
    <welcome-file>AllProducts.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BasicDataSourceEx</display-name>
    <servlet-name>BasicDataSourceEx</servlet-name>
    <servlet-class>connectionpool.BasicDataSourceEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicDataSourceEx</servlet-name>
    <url-pattern>/BasicDataSourceEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>Customer.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>Customer.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Carousel</display-name>
    <servlet-name>Carousel</servlet-name>
    <servlet-class>Customer.Carousel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carousel</servlet-name>
    <url-pattern>/Carousel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>Customer.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSignIn</display-name>
    <servlet-name>CustomerSignIn</servlet-name>
    <servlet-class>Customer.CustomerSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSignIn</servlet-name>
    <url-pattern>/CustomerSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile</display-name>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>Customer.editProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>Customer.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>Customer.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setStatus</display-name>
    <servlet-name>setStatus</servlet-name>
    <servlet-class>Customer.setStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setStatus</servlet-name>
    <url-pattern>/setStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeProductDetails</display-name>
    <servlet-name>changeProductDetails</servlet-name>
    <servlet-class>Product.changeProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeProductDetails</servlet-name>
    <url-pattern>/changeProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEntry</display-name>
    <servlet-name>ProductEntry</servlet-name>
    <servlet-class>Product.ProductEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEntry</servlet-name>
    <url-pattern>/ProductEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerLogin</display-name>
    <servlet-name>SellerLogin</servlet-name>
    <servlet-class>Seller.SellerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerLogin</servlet-name>
    <url-pattern>/SellerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerSigIn</display-name>
    <servlet-name>SellerSigIn</servlet-name>
    <servlet-class>Seller.SellerSigIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerSigIn</servlet-name>
    <url-pattern>/SellerSigIn</url-pattern>
  </servlet-mapping>
</web-app>